* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #4a2626;
    font-family: 'Amatic SC', cursive;
    color: #cfbfb0;
    margin:0px; padding:0px;
    min-height: 100vh;
    flex-direction: column;
}

body.index a.index, body.page1 a.page1, body.page2 a.page2 {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: white;
}

a:hover, a:visited:hover {
    text-decoration: none;
}

img {
    border-style: solid;
    border-color: #cfbfb0;
}

img:hover {
    border-style: solid;
    border-color: #301818;
}

#header {
    font-size: 40px;
    background-color: #4a2626;
}

#images1 {
    width: 70%;
    border: 3px solid #301818;
}

#text-content {
    width:70%;
    border: 3px solid #301818;
    color: #301818;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 20px;
}

.content {
    flex: 1;
}

.footer {
    height: 200px;
    background-color: #cfbfb0;
    display: flex;
    margin-top: 100px;
    color: #301818;
    font-size: 70px;
    justify-content: center;
    border-top: 3px solid #301818;
}

#title {
    display: flex;
}

.flex-container {
    display: flex;
    background-color: #cfbfb0;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-grow: 1;
    justify-content: center;
}

.link-row {
    position: relative;
    bottom: 50px;
    display: flex;
    margin: 0 auto;
    width: 400px;
    font-size: 40px;
    
}

.link-row-link {
    justify-content: center;
    display: flex;
    flex: 1;
    width: 50px;
    margin: 10px;
    border-color: white;
}

.flex-item {
    background-color: cornflowerblue;
    max-height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}

.image {
    width: 100px;
    height: 100px;
}